*.iso
*.flp
*.todo
*.o
*~
.bochsrc
.sconsign.dblite
debugger.out
bochsout.txt
*.swp
*.pyc
Source/System/Boot/BIOS/CD/Stage1
Source/System/Boot/BIOS/PXE/Stage1
Source/System/Boot/BIOS/BIOS/BIOS
Source/System/Boot/BIOS/Floppy/Stage1

Utilities/*.util
*.util
Test.sh
