# All images.
*.iso
*.flp

# Tools
Tools/

# All executables + output files.

## Fixed location binaries.
Bootloader/BIOS/ISO/Stage1
Bootloader/BIOS/PXE/Stage1
Bootloader/BIOS/Floppy/Stage1
Bootloader/BIOS/Stage15/Stage15
Bootloader/BIOS/BAL/BAL
Bootloader/BIOS/Loader/Loader
Kernel/Arch/KEx86
Kernel/Arch/KEx86_64
Kernel/Modules/PMM/PMMx86
Kernel/Modules/PMM/PMMPAE
Kernel/Modules/PMM/PMMx86_64
Kernel/Modules/VMM/VMMx86
Kernel/Modules/VMM/VMMPAE
Kernel/Modules/VMM/VMMx86_64

## Utilieies.
Utilities/*.util
*.util

## Libraries
*.a

## Object files.
*.o

## Backup files.
*~

## Image files.
*.sif
*.bmp

# Build environment related.

## Configuration.
Build.cfg

## SCons.
.sconsign.dblite

## Bochs.
.bochsrc
debugger.out
bochsout.txt

## Python.
*.pyc

## Sublime Text.
*.sublime*
.cproject
.project

## Documentation
Documentation/Images

## LaTeX
*.aux
*.log
*.out
*.pdf
*.toc
*.lot
