# All images.
*.iso
*.flp

# Tools
Tools/

# All executables + output files.

## Fixed location binaries.
Source/System/Boot/BIOS/CD/Stage1
Source/System/Boot/BIOS/PXE/Stage1
Source/System/Boot/BIOS/Common/BIOS
Source/System/Boot/BIOS/Floppy/Stage1
Source/System/Boot/DBAL/DBAL
Source/System/Boot/KL/KL
Source/System/Kernel/Arch/KEx86
Source/System/Kernel/Arch/KEAMD64
Source/System/Kernel/Modules/PMM/PMMx86
Source/System/Kernel/Modules/PMM/PMMPAE
Source/System/Kernel/Modules/PMM/PMMAMD64
Source/System/Kernel/Modules/VMM/VMMx86
Source/System/Kernel/Modules/VMM/VMMPAE
Source/System/Kernel/Modules/VMM/VMMAMD64

## Utilieies.
Utilities/*.util
*.util

## Libraries
*.a

## Object files.
*.o

## Backup files.
*~

## Image files.
*.sif
*.bmp

# Build environment related.

## SCons.
.sconsign.dblite

## Bochs.
.bochsrc
debugger.out
bochsout.txt

## Python.
*.pyc

## Sublime Text.
*.sublime*
.cproject
.project

## Documentation
Documentation/Images